= form_for resource, :url => polymorphic_path([parent, resource]), :remote => request.xhr? do |f|
  .errors= resource_error_messages!

  .field
    = f.label :key
    = f.select :key, MenuOption.keys.sort
  .field
    = f.label :value, nil, :class => :req
    = f.text_field :value

  .actions
    = f.submit
