= title (@index_title || e9_t(:index_title))

.toolbar
  .toolbar-left
    %form{:action => menu_options_path, :method => :get, :class => 'scope-selects'}
      = label_tag 'menu_option_key_select', t(:view)
      = select_tag 'key', options_for_select(MenuOption.keys.sort, params[:key])
  .toolbar-right
    = link_to_new_resource(MenuOption, :menu_option => {:key => params[:key]}, :class => 'new-menu-option')

= form_tag polymorphic_path([:update_order, resource_class]) do
  %div#records_table
    = render 'table', :resources => collection
